@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .manrope{
      font-family: "Manrope", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    .bg-input{
      background-image: url("../B10-Assignment-03/assets/bg.jpg");
    }
}